.add-icon{
    margin-right: 5px;
}
.playlist-tracks{
    margin-bottom: 20px;
    margin-top: 10px;
}
.track-items{
    border-color: white!important;
}
.track-title{
    color: white;
    font-size: 16px;
}
.track-title:hover{
    color: springgreen;
    text-decoration: none;
}
.track-info{
    color: lightslategray;
    margin-bottom: 2px;
    margin-top: 2px;
}