// Here you can add other styles


.header{
    background-color: #263f43 !important;
    border: none;
    box-shadow: inset !important;
}

 .logo{
     width: 120px;
 }

 .nav-link{
     color: #90e6ab !important;
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
 }

 .footer{
    background-color: lightgray !important;
 }
