// Variable overrides
$sidebar-dark-nav-link-hover-color:       #75f1b3 !default;
$sidebar-dark-nav-link-hover-bg:          rgb(61, 85, 85) !default;
$sidebar-dark-nav-link-hover-icon-color:  #75f1b3 !default;
$sidebar-dark-nav-link-active-color:       #75f1b3 !default;
$sidebar-dark-nav-link-active-bg:          darkslategray !default;
$sidebar-dark-nav-link-active-icon-color:  #75f1b3 !default;
$sidebar-dark-bg: darkslategray !default;



$body-bg: rgb(33, 56, 56) !default;